
*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Banner\ Image.png');
    height: 600px;
    color: #FFFFFF;
}
.banner-title{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
.banner-des{
    font-size:72px ;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0;
}
.banner-title-des{
    padding: 177px 344px;
    text-align: center;
}

/* second section */
.happy-dis{
    font-size: 88px;
    font-weight: 900;
    color: #FF0000;
    text-align: center;
    margin-bottom: 48px;
}
.happy-des{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    text-align: center;
    margin-bottom: 16px;
}
.happy-title{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    text-align: center;
    margin-bottom: 48px;
}
.happy-image{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}   
.happy{
    margin: 120px 159px;
}

/* third section */
.mid-night{
    background-image: url('../images/Vectorrr.png');
    height: 600px;
    display: flex;
    justify-content: left;
    /* align-items: center; */

}
.mid-night-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    color: #FFFFFF;
    padding: 116px 93px 24px 126px;
}
.mid-night-des{
    font-size:18PX ;
    font-weight:400;
    line-height: 30px;
    color: #FFFFFF;
}
.mid-night-bt{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.mid-night-img{
    padding: 57px 138px 70px 39px;
}